@font-face {
    font-family: 'amerikaregular';
    src: url('fonts/amerika_regular_macroman/AMERIKA_-webfont.eot');
    src: url('fonts/amerika_regular_macroman/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amerika_regular_macroman/AMERIKA_-webfont.woff') format('woff'),
         url('fonts/amerika_regular_macroman/AMERIKA_-webfont.ttf') format('truetype'),
         url('fonts/amerika_regular_macroman/AMERIKA_-webfont.svg#amerikaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

