// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

$earth-green: #00a900;
$softer-green:#2AB965;
$earth-yellow: #ffcc00;
$positive-red: #fa0004;
$wiring-blue: #00f;
$mineral-black:#292925;
$chalk-white:#fff;
$rust-orange:#B7862B;

$on-a-dark-background:$chalk-white;
$on-a-dark-background-green:$earth-green;

