

@import "common/_mixins";
@import "common/_variables";

// Foundation variables goes here, before including foundation framework
$body-bg: $earth-yellow;




// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/foundation/scss/normalize.scss";
@import "../../bower_components/foundation/scss/foundation.scss";
// endbower



@import "common/_global";
@import "components/_buttons";
@import "components/_comments";
@import "components/_forms";
@import "components/_grid";
@import "components/_wp-classes";
@import "layouts/_header";
@import "layouts/_sidebar";
@import "layouts/_footer";
@import "layouts/_pages";
@import "layouts/_posts";
@import "layouts/_login";




/*==========  Foundation Media Queries - copy/paste from here if needed  ==========*/

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }




/*==========  Fixes overlapping admin bar  ==========*/


@media screen and (max-width: 600px) {
    #wpadminbar {
		position: fixed !important;
	}
}



@font-face {
    font-family: 'amerikaregular';
    src: url('../fonts/AMERIKA_-webfont.eot');
    src: url('../fonts/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AMERIKA_-webfont.woff') format('woff'),
         url('../fonts/AMERIKA_-webfont.ttf') format('truetype'),
         url('../fonts/AMERIKA_-webfont.svg#amerikaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



.font size 1 {

	font-size:0.63em;
}

.sub-header {
	font-size: 0.82em;
	font-weight:bold;
	margin-bottom:0;
	font-family: 'amerikaregular';
}
.standard {
	color:green;
	font-size: 0.82em;

}

.font-size-3{
	font-size: 1.0em;
}

.font-size-4{
	text-align:center;
	font-size: 1.13em;
}

.font-size-5 {

	font-size: 1.5em;
}

.font-size-6 {

	font-size: 2em;
}

.font-size-7 {

	font-size: 3em;
}

.anything {
	color:darkgreen;
}
    

.top-bar {
	height:auto;
	background:$earth-yellow;
	ul.title-area li {
		height: auto;
	}
	.weps img {
		margin:10px 0;
		max-height: 70px;
	}
}   

// .client-header {

// 	background:$mineral-black;
// 	.menu-container {
// 		ul.menu {
// 			list-style:none;
// 			display: inline;
// 			> li.menu-item {
// 				&.current-menu-item {
// 					background:blue;
// 				}
// 				position:relative;
// 				float:left;
// 				display: block;
// 				padding:5px;
// 				background:pink;
// 				z-index:555;
// 				a {
// 					color:green;

// 				}
// 				&:hover ul.sub-menu {
// 					display: block;
// 				}
// 				ul.sub-menu {
// 					display: none;
// 					z-index:556;
// 					position:absolute;
// 					bottom:-1px;
// 					margin:0;
// 					padding:0;
// 					background:orange;
// 					list-style:none;
// 					> li.menu-item {
// 						background:red;
// 					}
// 				}

// 			}
// 		}
// 	}
// }


.menu-aux-container,
.menu-services-container,
.menu-pricing-container {
	    padding: 0 .9375rem;
	ul {
		list-style:none;
		margin:0 0 15px 0;
		padding:0;
		li {
			a {
				color:#000;
			}
			a:hover {

			}
			&.current-menu-item a {
				color: $positive-red;
			}
		}
	}
}

.other-services {
	border-top:1px solid $mineral-black;
	border-bottom:1px solid $mineral-black;
	margin:35px 0;
	background:rgba(255,255,255,0.7);
	padding:75px 0;
}


.corporate-footer {
	background:$mineral-black;
}

.single-post,
.blog {
	.entry-title {
		font-size:24px;
			font-family: 'amerikaregular';
		a {
			color:$mineral-black;
		} 
	}
	p.byline.author.vcard {
		border:none;
		a {

			color:$softer-green;
		}
	}
}

.blog-sidebar {
	ul {
		margin:0;
		padding:0;
		list-style:none;
		li {
			margin-left:0;
			a {
				color:$softer-green;
			}
		}
	}
}

.client-login-header {
	margin:70px 0;
	text-align:center;
	img {
		width:75px;
	}
}
.client-header {
	background:$mineral-black;
	// border-bottom:1px solid blue;
	width:100%;
	.top-bar {
		background:$mineral-black;
		.weps {
			background:$earth-yellow;
			img {
    			margin: 10px 0;
    			max-height: 24px;
    		}
		}
	}
	.top-bar-section {
		float: right;
	}
	// .cuar-menu-container {}
}

.client-area {
	margin:50px 0;
	padding:50px 0;
	background:black url('../images/dark_embroidery.png');
	
	h1 {
		color:$chalk-white;
	}
	.cuar-page-customer-account-edit {

	}
}
.cuar-page-content {
			h3 {
			color:$on-a-dark-background;
		}
		p {
			color:$on-a-dark-background;
		}
		label {
			color:$on-a-dark-background;
		}
		.help-block {
			color:$on-a-dark-background-green;
		}
		.btn-default {
			border:1px solid white;
			color:white;
			font-size: 16px;
			margin:0 10px;
			padding:7px;
			background:$rust-orange;
		}	
		.submit-container input.btn-default[type="submit"] {
			border:1px solid white;
			margin:10px;
			padding:7px 14px;
			text-align:center;
			background:$earth-green;
		}
}


.card {
  // font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  background:$earth-yellow;
  margin-bottom:35px;
  .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .content {
    padding: 1.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
  }
  p {
  	font-family: 'amerikaregular';
  	margin: 0;
 	color: $mineral-black;
 	font-size: 18px;
  }
  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem;
  }
  a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
  }
  .image {
    position: relative;
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff;
    }
    img {
      border-radius: 2px 2px 0 0;
    }
  }
}


