.page-template-login-page{
	.login-page-wrapper {

  		background:black;
  		padding:15px;
  		margin-bottom:100px;
	}
  // background-image: url('home-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  	h1 a {

  		background-image: url('login-logo.png');
	}
	label {
	  font-size: 16px;
	  color: #fff;
	  border-radius: 3px;
	}
	.font-size-4 {
		font-size: 20px;
		color:#fff;
		padding-bottom:5px;
		border:1px dotted white;
		margin-bottoM:5px;
	}

	input[type="text"]{
	  background-color: #ffffff;
	  border-color:#dddddd;
	  -webkit-border-radius: 4px;
	}

	input[type="password"]{
	  background-color: #ffffff;
	  border-color:#dddddd;
	  -webkit-border-radius: 4px;
	}
	// .button-primary {
	//   width: 120px;
	//   float:right;
	//   background-color:#17a8e3 !important;
	//   background: -webkit-gradient(linear, left top, left bottom, from(#17a8e3), to(#17a8e3));
	//   background: -webkit-linear-gradient(top, #17a8e3, #17a8e3);
	//   background: -moz-linear-gradient(top, #17a8e3, #17a8e3);
	//   background: -ms-linear-gradient(top, #17a8e3, #17a8e3);
	//   background: -o-linear-gradient(top, #17a8e3, #17a8e3);
	//   background-image: -ms-linear-gradient(top, #17a8e3 0%, #17a8e3 100%);
	//   color: #ffffff;
	//   -webkit-border-radius: 4px;
	//   border: 1px solid #0d9ed9;
	// }

	// .button-primary:hover {
	//   background-color:#17a8e3 !important;
	//   background: -webkit-gradient(linear, left top, left bottom, from(#17a8e3), to(#0d9ed9 ));
	//   background: -webkit-linear-gradient(top, #17a8e3, #0d9ed9 );
	//   background: -moz-linear-gradient(top, #17a8e3, #0d9ed9 );
	//   background: -ms-linear-gradient(top, #17a8e3, #0d9ed9 );
	//   background: -o-linear-gradient(top, #17a8e3, #0d9ed9 );
	//   background-image: -ms-linear-gradient(top, #0b436e 0%, #0d9ed9 100%);
	//   color: #fff;
	//   -webkit-border-radius: 4px;
	//   border: 1px solid #0d9ed9;
	// }

	// .button-primary:active {
	//   background-color:#17a8e3 !important;
	//   background: -webkit-gradient(linear, left top, left bottom, from(#0d9ed9), to(#17a8e3));
	//   background: -webkit-linear-gradient(top, #0d9ed9, #17a8e3);
	//   background: -moz-linear-gradient(top, #0d9ed9, #17a8e3);
	//   background: -ms-linear-gradient(top, #0d9ed9, #17a8e3);
	//   background: -o-linear-gradient(top, #0d9ed9, #17a8e3);
	//   background-image: -ms-linear-gradient(top, #0d9ed9 0%, #17a8e3 100%);
	//   color: #fff;
	//   -webkit-border-radius: 4px;
	//   border: 1px solid #0d9ed9;
	// }
	p#nav {
	  display: none;
	}
	p#backtoblog {
	  display: none;
	}
	.client-area-login {
		img {
			max-width: 75px;
			margin:0 auto;
		}
	}
}